<!DOCTYPE html>
<html>
<head>
    <title>
        CSharpWasmBenchmark
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.acmion.com/acmion/hyper-nav/dist/hyper-nav-default.min.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="/js/benchmark-data-plotter.js"></script>
    <script src="/js/file-handler.js"></script>
    <script src="/js/math-functions.js"></script>
    <script src="/js/nameof.js"></script>

    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    <header>
        <nav class="hn-menu hn-top hn-fixed hn-shadow">
            <input type="checkbox" name="hn-top-state" class="hn-input-state hn-input-state-nav hn-hide-desktop" id="hn-nav-cb">

            <div class="hn-nav container-md p-0">
                <div class="hn-section hn-section-brand">
                    <div class="hn-item">
                        <a id="hn-logo" class="hn-link" href="/">
                            <span class="hn-content">
                                <span style="font-weight: 600">
                                    CSharpWasmBenchmark
                                </span>
                            </span>
                        </a>
                    </div>

                    <div class="hn-spacer"></div>

                    <label class="hn-item hn-input hn-input-nav hn-hide-desktop" for="hn-nav-cb">
                        <span class="hn-link">
                            <span class="hn-content">
                                <span class="hn-input-active ">
                                    <i class="ri-close-line"></i>
                                </span>
                                <span class="hn-input-default">
                                    <i class="ri-menu-line"></i>
                                </span>
                            </span>
                        </span>
                    </label>

                </div>
                <div class="hn-section hn-section-body">
                    <div class="hn-spacer"></div>

                    <NavItem Content="Home" Href="/" />
                    <NavItem Content="Results" Href="/results/" />

                    <div class="hn-expand hn-expand-left">
                        <input type="checkbox" class="hn-input-state" id="benchmarks-cb">
                        <div class="hn-item @(this.Context.Request.Path == "/benchmarks/" ? "hn-active" : "" )">
                            <a class="hn-link" href="/benchmarks/">
                                <div class="hn-content" data-hn-content="Benchmarks">
                                    Benchmarks
                                </div>
                                <div class="hn-input hn-hide-mobile ml-2" style="width: auto; min-width: 0">
                                    <span class="hn-input-default">
                                        <i class="ri-add-line"></i>
                                    </span>
                                </div>
                            </a>

                            <!-- A label that controls the checkbox above. Note the matching ids. Hidden on desktop. -->
                            <label class="hn-input hn-hide-desktop" for="benchmarks-cb">
                                <span class="hn-input-default">
                                    <!-- Content that is visible when the checkbox is not checked. -->
                                    <i class="ri-add-line"></i>
                                </span>
                                <span class="hn-input-active">
                                    <!-- Content that is visible when the checkbox is checked. -->
                                    <i class="ri-subtract-line"></i>
                                </span>
                            </label>
                        </div>

                        <div class="hn-expand-body" style="min-width: 200px">
                            <NavItem Content="C# Runtime" Href="/benchmarks/cs-runtime/" />
                            <NavItem Content="C# Wasm AOT" Href="/benchmarks/cs-wasm-aot/" />
                            <NavItem Content="C# Wasm Interpreted" Href="/benchmarks/cs-wasm-interpreted/" />
                            <NavItem Content="C# Wasm Interpreted Blazor" Href="/benchmarks/cs-wasm-interpreted-blazor/" />
                            <NavItem Content="JavaScript" Href="/benchmarks/js/" />
                        </div>
                    </div>

                    <NavItem Content="GitHub" Href="https://github.com/Acmion/CSharpWasmBenchmark" />

                </div>
            </div>

            <label class="hn-overlay" for="hn-nav-cb">
            </label>
        </nav>
    </header>

    <div class="scroll-anchor-height"></div>

    <main class="container">
        @RenderBody()
    </main>

    <div style="height: 400px">

    </div>
</body>
</html>
