@page

<h1>
    Benchmarks
</h1>

<p>
    <a href="/benchmarks/cs-runtime/">C# Runtime</a> <br />
    <a href="/benchmarks/cs-wasm-aot-blazor">C# Wasm AOT</a> <br />
    <a href="/benchmarks/cs-wasm-interpreted-blazor">C# Wasm Interpreted</a> <br />
    <a href="/benchmarks/js">JavaScript</a> <br />
    <a href="/benchmarks/c-wasm">C Wasm</a> <br />
</p>
