@page

<h1>
    Benchmarks
</h1>

<p>
    <a href="cs-runtime">C# Runtime</a> <br />
    <a href="cs-wasm-aot">C# Wasm AOT</a> <br />
    <a href="cs-wasm-interpreted">C# Wasm Interpreted</a> <br />
    <a href="js">JavaScript</a> <br />
</p>
